Repository g2graman/lessons-site-generator: changes, and which lint-staged commands are due for each by the changed paths.
All: npx stylelint --fix --config .stylelintrc, npx eslint -c .eslintrc.js --fix

.lintstagedrc:

{
  "linters": {
    "*.css": [
      "npx stylelint --fix --config .stylelintrc",
      "git add"
    ],
    "*.{js, jsx}": [
      "npx eslint -c .eslintrc.js --fix",
      "git add"
    ]
  },
  "concurrent": true,
  "subTaskConcurrency": 2
}

Updates LICENSE information
  .lintstagedrc
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE.md
  PULL_REQUEST_TEMPLATE.md
  TODO
  package-lock.json
  package.json
  static.config.js
  yarn.lock
Due: npx eslint -c .eslintrc.js --fix

Removes extra symlinks
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Due: none

Updates license information in readme
  readme.md
Due: none

Add demo link to readme
  readme.md
Due: none

Switches gulp-foreach for gulp-flatmap and removes TODO
  CNAME
  TODO
  package-lock.json
  package.json
  tasks/extract/clean.js
Due: npx eslint -c .eslintrc.js --fix

Fixes build
  config/marked.js
  static.config.js
Due: npx eslint -c .eslintrc.js --fix

Cleans directory structure
  src/components/Navbar/navbar.css
  src/components/Navbar/navbar.js
  src/components/app.css
  src/components/app.js
  src/components/footer/footer.jsx
  src/index.js
  src/pages/404/404.js
  src/pages/Modules.js
  src/pages/about/about.js
  src/pages/modules/module/module.css
  src/pages/modules/module/module.js
  src/pages/modules/modules.js
  src/shared/colours.css
  static.config.js
Due: npx stylelint --fix --config .stylelintrc, npx eslint -c .eslintrc.js --fix

Minor clean-up; updates reference to bridge-content master branch
  src/pages/modules/modules.js
  static.config.js
  tasks/extract/clean.js
Due: npx eslint -c .eslintrc.js --fix

Adds working prototype of module lists generated from nestable content file structure
  src/pages/modules/modules.js
Due: npx eslint -c .eslintrc.js --fix

Removes bullet points
  src/pages/modules/modules.js
Due: npx eslint -c .eslintrc.js --fix

Updates content submodule and handles directory names more elegantly
  src/pages/modules/modules.js
  static.config.js
Due: npx eslint -c .eslintrc.js --fix

Updates About page
  package.json
  readme.md
  src/components/footer/footer.jsx
  src/components/stub/MyComponent.js
  src/pages/about/about.css
  src/pages/about/about.js
  src/pages/modules/modules.js
  static.config.js
Due: npx stylelint --fix --config .stylelintrc, npx eslint -c .eslintrc.js --fix

Reverts website URL
  package.json
  readme.md
  static.config.js
Due: npx eslint -c .eslintrc.js --fix

Reverts absolute positioning on footer
  src/components/footer/footer.jsx
Due: none

Changes siteRoot
  LICENSE.md
  package.json
  readme.md
  static.config.js
Due: npx eslint -c .eslintrc.js --fix
